.hands1{
  top: 8%;
  margin-top: -100px;
  left: 0;
  position: fixed;
  width: 220px;
}

.hands2{
  top: 8%;
  right: 0;
  margin-top: -100px;
  position: fixed;
  width: 220px;
}

.board{
  position: fixed;
  left: 25%;
}
