<div id="listboard" cdkDropListConnectedTo="list-hand1" class="grid-container">
  <div (dragover)="drop_handler(1)" class="grid-item l1">1</div>
  <div (dragover)="drop_handler(2)" class="grid-item l2">2</div>
  <div (dragover)="drop_handler(3)" class="grid-item l3">3</div>
  <div (dragover)="drop_handler(4)" class="grid-item l4">4</div>
  <div (dragover)="drop_handler(5)" class="grid-item l5">5</div>
  <div (dragover)="drop_handler(6)" class="grid-item l6">6</div>
  <div (dragover)="drop_handler(7)" class="grid-item l7">7</div>
  <div (dragover)="drop_handler(8)" class="grid-item l8">8</div>
  <div (dragover)="drop_handler(9)" class="grid-item l9">9</div>
</div>
